body {
    background-image: url('../image/game.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    color: rgb(229, 230, 231);
}

h1 {
    font-family: 'Lobster', cursive;
    color: rgb(0, 238, 255);
}


.box {
    width: 450px;
    border: whitesmoke 5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
    text-align: center;
}

h3 {
    color: rgb(4, 7, 7);
}

button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #392cf3;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 11px 20px 13px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms, background 200ms;
}

button:hover {
    transform: translateY(-2px);
}

.game-board {
    margin: auto;
    margin-top: 30px;
}

td {
    text-align: center;
    background-color: rgb(117, 105, 105);
    height: 32px;
    width: 32px;
    border: 2px rgb(182, 182, 182) solid;
    z-index: 2;
    cursor: pointer;
    color: black;
    font-size: 20px;

}

td:hover {
    background-color: rgb(201, 201, 201);
}

.show {
    background-color: rgb(211, 210, 210);

}


.smiley {
    background-color: transparent;
    font-size: 40px;
    cursor: pointer;
    /* margin: 5px; */
    /* padding: 5px; */
    /* border: none; */
}



.box-alert {
    display: none;
    position: absolute;
    width: 100;
    background-color: rgb(253, 90, 90);
    color: black;
    margin: auto;
    padding: 10px;
    margin-left: 1000px;
    border: 1px white solid;
    text-align: center;
}

p {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.safe {
    background-color: azure;
}